* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger-Paint', cursive;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    border-right: 2px solid;
    border-bottom: 2px solid;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);


}